<div class="field">
  <%= f.text_field :title, class:"input", placeholder:"title" %><br>
</div>
<div class="field">
  <%= f.text_field :body, class:"input", placeholder:"body" %><br>
</div>

<h3>Виберіть фото:</h3>
<%= f.file_field :pictures, multiple: true %>
