@import "bootstrap";
@import "font-awesome";
@import "devise";
@import "search";
@import "guides";
@import "articles";
.guide-first{
  min-height: 800px;
  width: 100%;
  padding: 100px 40px 100px 30px;
  .item-1{
    background: linear-gradient(0deg, #282828, #282828), url('https://i.pinimg.com/originals/92/df/bc/92dfbc649104f9ceff00f5157c0ab31b.png');
    background-blend-mode: hard-light, normal;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
  }
  .item-2{
    background: linear-gradient(0deg, #282828, #282828), url('https://i.pinimg.com/564x/e4/95/ea/e495eaab9538aea03adea3e35d7a4126.jpg');
    background-blend-mode: hard-light, normal;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
  }
  .item-3{
    background: linear-gradient(0deg, #282828, #282828), url('https://i.pinimg.com/564x/c4/60/6c/c4606c87a8047de4c006b0797102f5f0.jpg');
    background-blend-mode: hard-light, normal;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
  }
  p{
    z-index: 2;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    margin: auto;
  }
}
.guide-second{
  min-height: 800px;
  width: 100%;
  padding: 100px 40px 100px 30px;
  .item-1{
    background: linear-gradient(0deg, #282828, #282828), url('https://i.pinimg.com/564x/44/17/6f/44176fd68ccdd3a5801e869b46e1b775.jpg');
    background-blend-mode: hard-light, normal;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
  }
  .item-2{
    background: linear-gradient(0deg, #282828, #282828), url('https://i.pinimg.com/564x/d1/5e/09/d15e0966c12d02f7b1598fe3cdf1734e.jpg');
    background-blend-mode: hard-light, normal;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
  }
  .item-3{
    background: linear-gradient(0deg, #282828, #282828), url('https://i.pinimg.com/564x/f7/db/fe/f7dbfe80debb2346d61762fcb81416b1.jpg');
    background-blend-mode: hard-light, normal;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
  }
  p{
    z-index: 2;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    margin: auto;
  }
}
